div(class="owl-carousel owl-theme")
	.item
		a(href=folder + "mbsc")
			img( src=folder + "assets/img/dist/mbsc/slider.jpg" class="hidden-xs" alt="Marina Bay Countdown 2019")
			img( src=folder + "assets/img/dist/mbsc/slider-m.jpg" class="visible-xs" alt="Marina Bay Countdown 2019")
			h1
				| Marina Bay Countdown 2019
	.item
		a(href=folder + "singhealth")
			img( src=folder + "assets/img/dist/singhealth/slider.jpg" class="hidden-xs" alt="National Heart Centre Singapore | SingHealth")
			img( src=folder + "assets/img/dist/singhealth/slider-m.jpg" class="visible-xs" alt="National Heart Centre Singapore | SingHealth")
			h1
				| National Heart Centre Singapore
	.item
		a(href=folder + "infrastructureasia")
			img( src=folder + "assets/img/dist/infrastructureasia/slider.jpg" class="hidden-xs" alt="Infrastructure Asia")
			img( src=folder + "assets/img/dist/infrastructureasia/slider-m.jpg" class="visible-xs" alt="Infrastructure Asia")
			h1
				| Infrastructure Asia
	.item
		a(href=folder + "sciencecentre")
			img( src=folder + "assets/img/dist/sciencecentre/slider.jpg" class="hidden-xs" alt="Science Centre")
			img( src=folder + "assets/img/dist/sciencecentre/slider-m.jpg" class="visible-xs" alt="Science Centre")
			h1
				| Science Centre
	.item
		a(href=folder + "canonliftoff")
			img( src=folder + "assets/img/dist/canonxlufthansa/slider.jpg" class="hidden-xs" alt="CanonXLufthansa")
			img( src=folder + "assets/img/dist/canonxlufthansa/slider-m.jpg" class="visible-xs" alt="CanonXLufthansa")
			h1
				| Canon Lufthansa
	.item
		a(href=folder + "sciencefest")
			img( src=folder + "assets/img/dist/sciencefest/slider.jpg" class="hidden-xs" alt="Science Festival")
			img( src=folder + "assets/img/dist/sciencefest/slider-m.jpg" class="visible-xs" alt="Science Festival")
			h1
				| Singapore 
				br
				| Science Festival
	.item
		a(href=folder + "eosworld")
			img( src=folder + "assets/img/dist/eosworld/slider.jpg" class="hidden-xs" alt="EOS World" )
			img( src=folder + "assets/img/dist/eosworld/slider-m.jpg" class="visible-xs" alt="EOS World")
			h1
				| EOS World
	.item
		a(href=folder + "unicard")
			img( src=folder + "assets/img/dist/unicard/slider.jpg" class="hidden-xs" alt="Unicard")
			img( src=folder + "assets/img/dist/unicard/slider-m.jpg" class="visible-xs" alt="Unicard")
			h1
				| Unicard Microsite
	.item
		a(href=folder + "redthenewblack")
			img( src=folder + "assets/img/dist/redthenewblack/slider.jpg" class="hidden-xs" alt="RedTheNewBlack")
			img( src=folder + "assets/img/dist/redthenewblack/slider-m.jpg" class="visible-xs" alt="RedTheNewBlack")
			h1
				| #RedTheNewBlack Campaign 
			
.col-sm-12
	.socialWrap
		a(href="mailto:viviweewoon@gmail.com" title="Email" target="_blank") Email