- var pagetitle = "Science Festival"
- var pagename = "portfolio"
- var folder = "../"

- bannerImgs = []
- bannerImgs.push( { "link":"#", "src":"sciencefest/banner.jpg", "srcM":"sciencefest/banner-m.jpg", "alt":"Science Festival" } )


include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class=pagename, role="main" )
	include /includes/banner

	.container
		.row
			.col-sm-12
				h2
					| Science Festival
				.row
					.col-sm-offset-3.col-sm-6
						.portfolio-body
							h4
								| Client
							p
								| Singapore Science Centre
							h4
								| Live Site
							a( href="http://www.sciencefest.sg/" target="_blank")
								| http://www.sciencefest.sg/
							h4
								| Project Type
							p
								| Campaign Responsive Website
							h4
								| Project Launched
							p
								| July 2016	
							h4
								| Role
							p
								| Web Development
							h4
								| Tools
							p
								| Bootstrap, JavaScript, HTML5, CSS, Grunt, Jade

		.row.text-center
			.col-sm-12
				h5
					| View Project
				div(class="embed-responsive embed-responsive-16by9")
					iframe(width="853" height="480" class="embed-responsive-item" src="https://www.youtube.com/embed/o-wmEqfgofc" frameborder="0" allowfullscreen)
				h5
					| Content page
			.col-sm-6
				img(src=folder + "assets/img/dist/sciencefest/content-about.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/sciencefest/content-partner.jpg" class="img-responsive")

		.row
			.col-sm-12.text-center
				h5
					| Mobile view
				img(src=folder + "assets/img/dist/sciencefest/mobile.gif" class="img-responsive")
		.row.text-center
			.col-sm-12
				h5
					| Content page
			.col-sm-6
				img(src=folder + "assets/img/dist/sciencefest/content-media.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/sciencefest/content-gallery-01.jpg" class="img-responsive")
			

include /includes/footer