- var pagetitle = "Revive"
- var pagename = "portfolio"
- var folder = "../"

- bannerImgs = []
- bannerImgs.push( { "link":"#", "src":"canonxlufthansa/banner.gif", "srcM":"canonxlufthansa/banner-m.gif", "alt":"Revive" } )

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class=pagename, role="main" )
	include /includes/banner

	.container
		.row
			.col-sm-12
				h2
					| Revive
				.row
					.col-sm-offset-3.col-sm-6
						.portfolio-body
							h4
								| Client
							p
								| Revive Isotonic - Pepsi Malaysia
							h4
								| Project Type
							p
								| Facebook Page Application
							h4
								| Project Launched
							p
								| July 2013
							h4
								| Role
							p
								| Facebook App Development, Visual Design, Art Direction
							h4
								| Tools
							p
								| Facebook Developers, FTP, HTML/CSS, JavaScript, Photoshop CS5

		.row
			.col-sm-12.text-center
				iframe(width="853" height="480" src="https://www.youtube.com/embed/btjIU7VGUwg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
		.row.text-center
			.col-sm-6
				img(src=folder + "assets/img/dist/canonxlufthansa/how-to-participate-top.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/canonxlufthansa/how-to-participate-bottom.jpg" class="img-responsive")
			.col-sm-12
				h5
					| Content Page
		.row
			.col-sm-12.text-center
				img(src=folder + "assets/img/dist/canonxlufthansa/mobile.jpg" class="img-responsive")
			.col-sm-12
				h5
					| Mobile View
				
		.row.text-center
			.col-sm-6
				img(src=folder + "assets/img/dist/canonxlufthansa/prizes-top.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/canonxlufthansa/prizes-bottom.jpg" class="img-responsive")
			.col-sm-12
				h5
					| Content Page

include /includes/footer