- var pagetitle = "RedTheNewBlack"
- var pagename = "portfolio"
- var folder = "../"

- bannerImgs = []
- bannerImgs.push( { "link":"#", "src":"redthenewblack/banner.jpg", "srcM":"redthenewblack/banner-m.jpg", "alt":"RedTheNewBlack" } )

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class=pagename, role="main" )
	include /includes/banner

	.container
		.row
			.col-sm-12
				h2
					| #RedTheNewBlack
				.row
					.col-sm-offset-3.col-sm-6
						.portfolio-body
							h4
								| Client
							p
								| Tune Talk Malaysia | The largest mobile prepaid MVNO service provider in Malaysia.
							h4
								| Live Site
							p
								| http://redthenewblack.com/
							h4
								| Project Type
							p
								| Campaign Responsive Website
							h4
								| Project Launched
							p
								| 2014	
							h4
								| Role
							p
								| Creative Idea, Art Direction, Visual Design, Web Development
							h4
								| Tools
							p
								| Photoshop CS5, Illustrator CS5, HTML, CSS
							h4
								| The Challenge
							p
								| Working with a tight timeframe and low budget, we had to find a simple hook to make the campaign memorable and the microsite a stand-out piece.
		.row.text-center
			.col-sm-12
				h5
					| #RedTheNewBlack Campaign Microsite Design
				div(class="embed-responsive embed-responsive-16by9")
					iframe(width="853" height="480" class="embed-responsive-item" src="https://www.youtube.com/embed/vDQtgBBL8V4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)

		.row.text-center
			.col-sm-12
				h5
					| RedTheNewBlack Campaign Microsite Banner Design
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/content-01.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/content-02.jpg" class="img-responsive")
			
		.row.text-center
			.col-sm-12
				h5
					| RedTheNewBlack Campaign Microsite Banner Design
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/content-03.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/content-04.jpg" class="img-responsive")
			
		.row.text-center
			.col-sm-12
				h5
					| Social Media Post ( Facebook, Twitter, Youtube )
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/facebook-template-02.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/redthenewblack/facebook-template-03.jpg" class="img-responsive")
			
		.row.text-center
			.col-sm-6
				h5
					| Campaign Logo Design
				img(src=folder + "assets/img/dist/redthenewblack/masthead-v2.jpg" class="img-responsive")
				
			.col-sm-6
				h5
					| Social Media Post ( Facebook, Twitter, Youtube )
				.row
					.col-sm-12
						img(src=folder + "assets/img/dist/redthenewblack/pinpost-contest-twitter-2.jpg" class="img-responsive")
					.col-sm-12
						img(src=folder + "assets/img/dist/redthenewblack/pinpost-contest-twitter-2.jpg" class="img-responsive")
				

include /includes/footer